body {
  background-color: #192f11;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  width: 100%;
  grid-gap: 50px;
}
.img-responsive {
  max-width: 100%;
}
.grid-2-col {
  grid-template-columns: 1fr 1fr;
}

.grid-small-lg-lg {
  grid-template-columns: 1fr 2fr 2fr;
}
section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}
header {
  text-align: center;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/vegetables.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
  color: white;
}

header h1 {
  font-size: 128px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.5;
  margin: 20px 0;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
}
main {
  background-color: white;
}

main h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #192f11;
  opacity: 0.3;
  margin: 0;
}

main h2 {
  color: #192f11;
  font-size: 26px;
}
footer {
  background-image: linear-gradient(
      rgba(25, 47, 17, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
    url("../images/vegetables-footer.jpg");
  color: white;
}

footer h3 {
  font-family: "Playfair Display", serif;
  color: white;
  opacity: 0.9;
}

footer p {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: white;
  opacity: 0.7;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  font-family: "Plus Jakarta Sans", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

footer a {
  color: white;
  opacity: 0.7;
}

@media (max-width: 960px) {
  header h1 {
    font-size: 54px;
  }
  header h2 {
    font-size: 20px;
  }
  header {
    padding: 50px;
  }

  footer {
    padding: 25px;
  }
  footer h3 {
    font-size: 16px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  footer p,
  a {
    font-size: 14px;
  }

  section {
    padding: 50px 0;
  }
  section div {
    padding: 5px;
  }
}
