.container {
  max-width: 1400px;
  margin: 0 auto;
}
body {
  background-color: #192f11;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  width: 100%;
  grid-gap: 15px;
}

header {
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/vegetables.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
  color: white;
}

header h1 {
  font-size: 128px;
  font-weight: 600;
  line-height: 1;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.5;
  margin: 20px 0;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
}

footer {
  background-image: linear-gradient(
      rgba(25, 47, 17, 0.9),
      rgba(0, 0, 0, 0.9)
    ),
    url("../images/vegetables-footer.jpg");
  color: white;
  padding: 100px;
}

footer h3 {
  font-family: "Playfair Display", serif;
  color: white;
  opacity: 0.9;
}

footer p {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: white;
  opacity: 0.7;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer li {
  font-family: "Plus Jakarta Sans", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

footer a {
  color: white;
  opacity: 0.7;
}

/* font-family: "Poppins", sans-serif; */

@media (max-width: 960px) {
  header h1 {
    font-size: 54px;
  }
  header h2 {
    font-size: 20px;
  }
  header {
    padding: 50px;
  }

  footer {
    padding: 25px;
  }
  footer h3 {
    font-size: 16px;
  }

  .grid {
    display: block;
  }

  footer p,
  a {
    font-size: 14px;
  }
}
